body {
  margin: 0;
  background-image: url(images/black-cyan-gradient-linear-1920x1080-c2-00000b-29e3e8-a-105-f-14.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: nunito;
}

@font-face {
  src: url(fonts/Nunito-Regular.ttf);
  font-family: nunito;
}

#height {
	height: 100px;
}

#height2 {
	height: 50px;
}

h1, #box {
  color: white;
  text-transform: uppercase;
  background-color: #333;
  padding: 15px 0px 15px 0px;
  text-align: center;
  width: 500px;
  margin: auto;
}

h2 {
	color: crimson;
}

.navbar {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
}

#navbar2 {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 2px 11px 6px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a {
  float: right;
  display: block;
  color: #f9f9f9;
  text-align: center;
  padding: 20px 17px 12px;
  margin-top: 17px;
  text-decoration: none;
  font-size: 17px;
  font-family: nunito;
}

.navbar a:hover {
  background: #555;
  color: cyan;
}

.navbar .products {
  float: right;
  overflow: hidden;
}

.products .dropbtnpro {
  font-size: 17px;
  color: white;
  border: none;
  outline: none;
  padding: 20px 17px 12px;
  margin-top: 17px;
  background-color: black;
}

.dropdown-contentpro {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentpro a {
  float: none;
  color: black;
  padding: 2px 30px 2px 50px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.products:hover .dropbtnpro {
  background-color: #555;
  color: cyan;
}

.dropdown-contentpro a:hover {
  background-color: #ddd;
  color: black;
}

.products:hover .dropdown-contentpro {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .products .news .dropbtnpro .dropbtnnews {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .products .news {float: none;}
  .topnav.responsive .dropdown-contentpro. .dropdown-contentnews {position: relative;}
  .topnav.responsive .products .news .dropbtnpro .dropbtnnews {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.navbar .news {
  float: right;
  overflow: hidden;
}

.news .dropbtnnews {
  font-size: 17px;
  color: white;
  border: none;
  outline: none;
  padding: 20px 17px 12px;
  margin-top: 17px;
  background-color: black;
}

.dropdown-contentnews {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: none;
  z-index: 1;
}

.dropdown-contentnews a {
  float: none;
  color: black;
  padding: 2px 0px 2px 35px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.news:hover .dropbtnnews {
  background-color: #555;
  color: cyan;
}

.dropdown-contentnews a:hover {
  background-color: #ddd;
  color: black;
}

.news:hover .dropdown-contentnews {
  display: block;
}

.main {
  padding: 16px;
  margin-top: 40px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.tb {
  background-color: #333;
  padding: 10px 0px 160px 0px;
  bottom: 0;
  width: 100%;
}

.tbfooter {
  text-align: center;
  padding-left: 7em;
  font-size: 17px;
  color: white;
}

.tbfooter2 {
  text-align: center;
  padding-left: 7em;
}

#tbcontact {
  text-align: center;
  padding-left: 7em;
  color: white;
}

#tbcopyright {
	color: white;
}

.whiteandnone {
  text-decoration: none;
  color: white;
}

.color a:hover {
  color: cyan;
}

.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 2px 5px 1px 5px;
  margin-top: 35px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 2px 5px 1px 5px;
  margin-top: 35px;
  background: #333;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background: #555;
  color: cyan;
}

@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }
  .navbar input[type=text], .navbar a , .navbar .search-container button {
    float: right;
    display: block;
    text-align: left;
    width: 100%;
    padding: 15px 5px 1px 5px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;
  }
}
